<hr>
<h2>Create a list</h2>
<form action="/insert_list" method="post">
  <div>
    <label for="list_name_box">
      List name
    </label>

    <input type="text" id="list_name_box" name="query_list_name" placeholder="Enter list name">
  </div>

<table>
  <tr>
  <form action="/insert_list_item" method="post">

    <td>
      <select id="item_id_box" name="query_item_id">
        <% Item.all.each do |an_item|%>
          <option>
            <%= an_item.item_name%>
          </option>
        <% end %>
      </select>
    </td>

    <td>
      <button>Add</button>
    </td>

  </tr>
  </form>
</table>

  <div>
  <button>
    Create list
  </button>
  </div>
</form>

<hr>

<h3>
  <table>
  <tr>
    <td>
      Item 1
    </td>
    <td>
      Item 1
    </td>
    <td>
      Item 1
    </td>
  </tr>

</table>
