<h1>Welcome <%= @current_user.first_name%>
</h1>

<div>
  <a href="/edit_user_profile">Edit Profile</a>
</div>

<br>

<table>
<tr>
  <td>
  <a href="/lists">My Stores</a>
  </td>
  <td>
  Add, delete or update the stores you buy from
  </td>
</tr>

<tr>          
  <td>  
    <a href="/items">My Items</a> 
  </td>
  <td>
    Add, delete or update list of items you need
  </td>
</tr>

<tr>
  <td>
    <a href="/pantries">My Pantry</a> 
  </td>
  <td>
    View items currently in your pantry
  </td>
</tr>

<tr>
  <td>
    <a href="/view_lists">My Lists</a> 
  </td>
  <td>
    View your grocery lists by stores
  </td>
</tr>
</table>