<h1>Welcome <%= @current_user.first_name%>
</h1>

<div>
  <a href="/edit_user_profile">Edit Profile</a>
</div>

<div>
  <a href="/lists">My Stores</a>
</div>

      <div>
        <a href="/pantries">My Pantry</a>
      </div>
           
      <div>
        <a href="/items">My Items</a>
      </div>