 <div>
    <h1>
      My Pantry
    </h1>
  </div>

  <table border="1">
    <tr>
      <th>Item
      </th>
      <th>Store
      </th>
      <th>Quantity
      </th>
      <th>Quantity unit
      </th>
      <th>Price
      </th>
      <th>
      </th>
    </tr>

    <% @the_list.each do |each_list|%>
      <% if each_item.pantry_id == true %>
    
        <tr>
      

          <td><%= each_item.item_name %>
          </td>
          <td><%= each_item.quantity %>
          </td>
          <td><%= each_item.quantity_value %>
          </td>
          <td><%= each_item.price %>
          </td>
          <td>
            <form action="/insert_list" method="post">
              <input >
              <button>Buy</button>
            </form>
          </td>
      
        </tr>
      <% end %>
    <% end %>
  </table>